<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firich.com.firichsdk_test">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".FECApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".IDICCard"
            android:exported="true" />
        <activity
            android:name=".UareUSampleJava"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".GetReaderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="FingerPrinterGetReader">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainNFCActivity"
            android:exported="true">

            <!--
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MainThermalPrinterActivity"
            android:exported="true" />
        <activity
            android:name=".MainLCMActivity"
            android:exported="true" />
        <activity
            android:name=".MainCashDrawerActivity"
            android:exported="true" />
        <activity
            android:name=".MainSysKingICCardActivity"
            android:exported="true" />
        <activity
            android:name=".MainRFIDActivity"
            android:exported="true" />
        <activity
            android:name=".MainHIDActivity"
            android:exported="true" />
        <activity
            android:name=".MainThermalPrinterD10Activity"
            android:exported="true" />
        <activity
            android:name=".MainRS232Activity"
            android:exported="true" />
        <activity android:name=".MainFECTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainEthernetActivity"></activity>
    </application>

</manifest>